azure-cognitiveservices-vision-computervision
azure-cognitiveservices-vision-face==0.4.1
azure-cosmos
azure-mgmt-cosmosdb
easydict
flask
opencv-python
Pillow
--pre azure-cosmos
pydocumentdb
python-dotenv
tensorflow==1.15.2
uuid
