:root {
  --standard-radius: 8px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

header > h1,
header > p {
  margin: 0;
  font-weight: bold;
}

main {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

form {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding: 16px;
  border-radius: var(--standard-radius);
}

.report-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.report-count {
  text-align: center;
  background-color: #84A59D;
  color:white;
  padding: 8px;
  border-radius: var(--standard-radius);
  flex-grow: 1;
}

.report-count > p {
  margin: 0;
}

.report-count-value {
  font-size: 3em;
  font-weight: bold;
}

#powerbi-embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}